*.img
*.vhd
*.efi
*.o
*.obj
*.d
*.t
*.a
*.out
*.bin
*.so
*.elf
*.sym
*.iso
*.map
*.run
dump.txt
CMakeLists.txt
iso/
.vscode
build/
out/
OVMF.fd
compile_commands.json
.ccls
.depend
cscope.*
.ccls-cache/
.idea/
cmake-build-*/
elfpiggy.S
userprocesses.c
